html {
  box-sizing: border-box;
  color: #222;
  font-family: Roboto, sans-serif
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
}
/*  Login Form
*/
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
